Repository pivaldi/go-cleanstack: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-config-verify, golangci-lint-full, buf-generate

golangci-lint-config-verify:
  name: golangci-lint-config-verify
  description: Verifies the configuration file
  entry: golangci-lint config verify
  language: golang
  pass_filenames: false

golangci-lint-full:
  name: golangci-lint-full
  description: Fast linters runner for Go. Runs on all files in the repo. Use this hook if you use pre-commit in CI.
  entry: golangci-lint run --fix
  language: golang
  require_serial: true
  pass_filenames: false

buf-generate:
  name: buf generate
  entry: bash -c 'cd internal/infra/api && buf generate'
  language: system
  pass_filenames: false

fix buf config
  internal/infra/api/buf.yaml
Due: none

Working version with fully driven deployement by APP_ENV
  CLAUDE.md
  config_development.toml.example
  config_production.toml.example
  config_staging.toml.example
  docker-compose.yml
  go.mod
  go.sum
  justfile
  tests/testutil/containers.go
  tests/testutil/db.go
Due: golangci-lint-full

Add migration create cmd
  cmd/migrate.go
  configure
  justfile
  pkg/string/string.go
  pkg/string/string_test.go
Due: golangci-lint-full

Switch migration system to Goose because golang-migrate is unrealiable : https://github.com/golang-migrate/migrate/issues/179
  .golangci.yml
  CLAUDE.md
  Dockerfile
  README.md
  TODO.md
  cmd/migrate.go
  cmd/migrate_create_test.go
  cmd/migrate_templates.go
  cmd/migrate_templates_test.go
  cmd/root.go
  docker-compose.yml
  go.mod
  go.sum
  internal/infra/persistence/migrations/.gitkeep
  internal/infra/persistence/migrations/20251228000001_create_items_table.sql
  internal/infra/persistence/migrations/embed.go
  internal/infra/persistence/migrations/validation.go
  internal/infra/persistence/migrations/validation_test.go
  justfile
  migrations/000001_create_items_table.down.sql
  migrations/000001_create_items_table.up.sql
  tests/integration/migration_test.go
  tests/testutil/db.go
Due: golangci-lint-config-verify, golangci-lint-full

Logger Abtraction
  CLAUDE.md
  cmd/migrate.go
  cmd/root.go
  internal/app/service/item_service.go
  internal/app/service/item_service_test.go
  internal/infra/api/handler/item_handler.go
  internal/infra/api/server.go
  internal/infra/config/config.go
  internal/infra/config/config_test.go
  internal/infra/persistence/item_repo.go
  internal/platform/logging/constructors.go
  internal/platform/logging/logger.go
  internal/platform/logging/logger_test.go
  internal/platform/logging/zap.go
  internal/platform/logging/zap_logger.go
  internal/transport/connectx/interceptors.go
  main.go
  tests/e2e/api_test.go
  tests/integration/item_repo_test.go
  tests/integration/migration_test.go
Due: golangci-lint-full

Fix tests and error wraping
  internal/platform/logging/zap_logger.go
  tests/integration/item_repo_test.go
  tests/integration/migration_test.go
Due: golangci-lint-full

update test commands
  justfile
Due: none

Adding github.com/abice/go-enum as go tool
  .gitignore
  configure
  go.mod
  go.sum
Due: none

Use gotestsum as tool
  go.mod
  go.sum
  justfile
Due: none

Starting multi workspace
  TODO.md
  cmd/migrate.go
  cmd/root.go
  internal/app/app.go
  internal/app/cmd/serve.go
  internal/app/cmd/version.go
  internal/app/config/config.go
  internal/app/service/item_service.go
  internal/app/service/item_service_test.go
  internal/infra/api/handler/item_handler.go
  internal/infra/api/server.go
  internal/infra/persistence/item_repo.go
  internal/platform/logger/zap/zap.go
  internal/platform/logger/zap/zap_logger.go
  internal/platform/logger/zap/zap_test.go
  internal/platform/logging/logger_test.go
  internal/platform/logging/logging.go
  internal/transport/connectx/interceptors.go
  main.go
Due: golangci-lint-full

Fix config
  README.md
  cmd/version.go
  internal/app/app1/cmd/root.go
  internal/app/app1/cmd/serve.go
  internal/app/app1/cmd/version.go
  internal/app/app1/config/config.go
Due: golangci-lint-full

Update documentation
  CLAUDE.md
  README.md
Due: none

Implement user CRUD (wip)
  go.mod
  go.sum
  go.work.sum
  internal/app/app1/adapters/item_repo_adapter.go
  internal/app/app1/adapters/user_repo_adapter.go
  internal/app/app1/cmd/serve.go
  internal/app/app1/domain/entity/item.go
  internal/app/app1/domain/entity/item_test.go
  internal/app/app1/domain/entity/role.go
  internal/app/app1/domain/entity/role_enum.go
  internal/app/app1/domain/entity/role_test.go
  internal/app/app1/domain/entity/user.go
  internal/app/app1/domain/entity/user_test.go
  internal/app/app1/domain/ports/repository.go
  internal/app/app1/go.mod
  internal/app/app1/go.sum
  internal/app/app1/infra/api/gen/app1/v1/app1v1connect/user.connect.go
  internal/app/app1/infra/api/gen/app1/v1/user.pb.go
  internal/app/app1/infra/api/gen/cleanstack/v1/cleanstackv1connect/item.connect.go
  internal/app/app1/infra/api/gen/cleanstack/v1/item.pb.go
  internal/app/app1/infra/api/handler/item_handler.go
  internal/app/app1/infra/api/handler/user_handler.go
  internal/app/app1/infra/api/proto/app1/v1/user.proto
  internal/app/app1/infra/api/proto/cleanstack/v1/item.proto
  internal/app/app1/infra/api/server.go
  internal/app/app1/infra/persistence/item_repo.go
  internal/app/app1/infra/persistence/migrations/000001_create_users_table.sql
  internal/app/app1/infra/persistence/migrations/20251228000001_create_items_table.sql
  internal/app/app1/infra/persistence/models.go
  internal/app/app1/infra/persistence/user_repo.go
  internal/app/app1/service/item_service.go
  internal/app/app1/service/item_service_test.go
  internal/app/app1/service/user_service.go
  tests/e2e/api_test.go
  tests/integration/item_repo_test.go
  tests/integration/migration_test.go
  tests/testutil/containers.go
  tests/testutil/db.go
Due: golangci-lint-full, buf-generate

Implement user CRUD - Rename app1 to user (wip)
  .pre-commit-config.yaml
  cmd/migrate.go
  cmd/migrate_templates.go
  go.mod
  go.work
  internal/app/user/adapters/user_repo_adapter.go
  internal/app/user/cmd/root.go
  internal/app/user/cmd/serve.go
  internal/app/user/cmd/version.go
  internal/app/user/config/config.go
  internal/app/user/domain/entity/role.go
  internal/app/user/domain/entity/role_enum.go
  internal/app/user/domain/entity/role_test.go
  internal/app/user/domain/entity/user.go
  internal/app/user/domain/entity/user_test.go
  internal/app/user/domain/ports/repository.go
  internal/app/user/go.mod
  internal/app/user/go.sum
  internal/app/user/infra/api/buf.gen.yaml
  internal/app/user/infra/api/buf.yaml
  internal/app/user/infra/api/gen/user/v1/user.pb.go
  internal/app/user/infra/api/gen/user/v1/userv1connect/user.connect.go
  internal/app/user/infra/api/handler/user_handler.go
  internal/app/user/infra/api/proto/user/v1/user.proto
  internal/app/user/infra/api/server.go
  internal/app/user/infra/persistence/db.go
  internal/app/user/infra/persistence/migrations/.gitkeep
  internal/app/user/infra/persistence/migrations/000001_create_users_table.sql
  internal/app/user/infra/persistence/migrations/embed.go
  internal/app/user/infra/persistence/migrations/validation.go
  internal/app/user/infra/persistence/migrations/validation_test.go
  internal/app/user/infra/persistence/models.go
  internal/app/user/infra/persistence/user_repo.go
  internal/app/user/main.go
  internal/app/user/service/user_service.go
  justfile
  main.go
Due: golangci-lint-full, buf-generate

Implement user CRUD (done)
  go.sum
  internal/app/user/adapters/user_repo_adapter.go
  internal/app/user/domain/entity/user.go
  internal/app/user/go.mod
  internal/app/user/go.sum
  internal/app/user/infra/persistence/models.go
  internal/app/user/infra/persistence/user_repo.go
  internal/app/user/service/user_service_test.go
  internal/app/user/tests/e2e/user_api_test.go
  internal/app/user/tests/integration/user_repo_test.go
  internal/app/user/tests/testutil/containers.go
  internal/app/user/tests/testutil/db.go
  internal/common/go.sum
  justfile
Due: golangci-lint-full

Refactoring
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  Dockerfile
  README.md
  configs/config_development.toml.example
  configs/config_production.toml.example
  configs/config_staging.toml.example
  docker-compose.yml
  go.work.sum
  internal/app/user/api/buf.gen.yaml
  internal/app/user/api/buf.yaml
  internal/app/user/api/gen/user/v1/user.pb.go
  internal/app/user/api/gen/user/v1/userv1connect/user.connect.go
  internal/app/user/api/handler/user_handler.go
  internal/app/user/api/proto/user/v1/user.proto
  internal/app/user/api/server.go
  internal/app/user/cmd/serve.go
  internal/app/user/tests/e2e/user_api_test.go
  internal/common/platform/config/config.go
  internal/common/platform/config/config_default.toml
  internal/common/platform/config/config_test.go
  justfile
  main.go
  pkg/file/file.go
  pkg/file/lock.go
  pkg/file/zip.go
Due: golangci-lint-full, buf-generate

Add file unit test + improve zipFiles
  pkg/file/file_test.go
  pkg/file/lock_test.go
  pkg/file/zip.go
  pkg/file/zip_test.go
Due: golangci-lint-full

Update readme + fix app config
  README.md
  internal/app/user/cmd/root.go
  internal/app/user/config/config.go
  internal/app/user/go.mod
  internal/app/user/go.sum
  main.go
Due: golangci-lint-full

Fix logging dependency injection
  configure
  internal/app/user/adapters/user_repo_adapter.go
  internal/app/user/api/server.go
  internal/app/user/cmd/serve.go
  internal/app/user/config/config.go
  internal/app/user/service/user_service.go
  internal/app/user/service/user_service_test.go
  internal/app/user/tests/e2e/user_api_test.go
  internal/common/platform/logging/logger_test.go
  internal/common/platform/logging/logging.go
  internal/common/transport/connectx/interceptors.go
Due: golangci-lint-full

Use mise so remove juste and pre-commit
  .gitignore
  .pre-commit-config.yaml
  README.md
  configure
  go.work.sum
  internal/common/platform/config/config.go
  justfile
  mise.toml
  script/color.rc
  script/docker.sh
  script/doctor.sh
  script/go-tools.sh
  script/pre-commit.sh
Due: golangci-lint-full

Add direnv
  script/go-tools.sh
Due: none

Path conditions:
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint-full: any of: \.go$
  buf-generate: any of: \.proto$
